@inject BookmarkService BookmarkService
@implements IDisposable

<MudPaper Class="pa-6 rounded-lg" Square="true" Height="550px;">
    <div class="flex">
        <div>
            <MudImage Src="./img/historybooks.jpg"
                      Style="width:40px; height: 40px; border-radius: 50%;"
                      Alt="User Profile" Elevation="0" />
        </div>
        <div class="mx-auto my-auto">
            <div>Anonymous User</div>
        </div>
    </div>
    <div class="my-10">
        <div style="font-size: .95rem;" class="mb-3">
            Your Reading Progress
        </div>
        <MudProgressLinear Color="Color.Success" Rounded="true" Size="Size.Small" Value="75" />
        <div style="font-size: 0.75rem; margin-top: 3px;">10 pages left from 3 books</div>
    </div>

    <div class="my-10" style="height: 330px; overflow-y: auto;">
        <MudNavGroup Title="Reading List" Icon="@Icons.Material.Filled.MenuBook" BadgeData="11">
        </MudNavGroup>
        <MudNavGroup Title="Bookmarks" Icon="@Icons.Material.Filled.Bookmark">
            @if (BookmarkResponseList is not null)
            {
                @foreach (var bookmark in BookmarkResponseList.BookmarkResponseList)
                {
                    <MudNavGroup Title="@bookmark.BookTitle">
                        @foreach (var item in bookmark.BookmarkList)
                        {
                            string link = $@"/read-book/{bookmark.BookId}/{item.BookCode}/{item.PageNo}";
                            <MudNavLink Href="@link">Page No @item.PageNo</MudNavLink>
                        }
                    </MudNavGroup>
                }
            }
        </MudNavGroup>
        <MudNavGroup Title="Wish" Icon="@Icons.Material.Filled.Favorite">
            @if (WishedBookState.WishBookListResponse is not null)
            {
                @foreach (var item in WishedBookState.WishBookListResponse.WishedBookList)
                {
                    string link = $@"/read-book/{item.BookId}/{item.BookCode}";
                    <MudNavLink Href="@link">@item.BookName</MudNavLink>
                }
            }
        </MudNavGroup>
    </div>
</MudPaper>

@code
{
    private BookmarkListResponseModel BookmarkResponseList { get; set; }

    protected async override Task OnInitializedAsync()
    {
        LoadingService.EnableLoading();
        BookmarkResponseList = await BookmarkService.GetBookmarkList();
        WishedBookState.OnChange += WishBookStateHasChanged;
        LoadingService.DisableLoading();
    }

    void WishBookStateHasChanged(object sender, EventArgs e) => StateHasChanged();

    void IDisposable.Dispose()
    {
        WishedBookState.OnChange -= WishBookStateHasChanged;
    }
}